/* CSS Document */

.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
 .nav{
    font-family: "Raleway", sans-serif;
 }


.nav-logo { 
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
.nav-logo-accent {
     color: #2e2f42;
        }

.nav-list .link:hover,
.nav-list .link:focus {
    color: #404bbf;
}

.nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.nav a,
.contact a {
    text-decoration: none;
}

.contact {
    font-style: normal;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px; 
    font-weight: normal; 
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}


 .nav-list,  .contact-list, 
 .about-us-list, .team-list,  .portfolio-title {
    list-style-type: none;
 }

.main-section {
    background-color: #2E2F42;
}

.main-section-title {
    color: #ffffff;
    line-height: 60px;
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-variation-settings: "wdth" 100;
}

.main-box {
    color: #ffffff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
}

.main-section .main-box:hover,
.main-section .main-box:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.team{
    background-color: #F4F4FD;
}

.name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list{
background-color: #FFFFFF
}


.name-next {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.about-us-list{
font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
} 

.portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.footer {
    color: #4D5AE5;
    background-color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.footer-accent{
    color:#F4F4FD;
}   

.footer-logo{
    color:#4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}